body{
  background-color: rgb(42, 65, 165);
}

h1{
  text-align: center;
}
.input{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.input input{
  height: 50px;
  width: 350px;
  border-radius: 12px;
  font-size: 22px;
  padding-inline: 20px;
}
.input button{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-top: 15px;
  font-size: 1rem;
  background-color: rgb(233, 32, 32);
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.value{
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  width: 450px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 0px;
  font-size: 1.25rem;
}
.value p{
  padding-left: 25px;
}
.list{
  display: inline-block;
  padding: 15px 0px;
} 
.list button{
  background-color: rgb(233, 32, 32);
  color: white;
  height: 30px;
  width: 75px;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 10px;
}
.list input{
  margin-top: 9px;
}
